.bear{
position:fixed;
display: flex;
left: -10%;
max-width: 700px;
top: 60%;
}

.col-1{

position: relative;
left:40px;
max-width: 580px;
}


.card-2{

}
.col-2{



}
.word{
letter-spacing: -2px;
font-size: 3.5rem;
}


.word-def{

  /* max-width: 600px; */
}